### Pandas모듈
시리즈 클래스는 1차원
    - 인덱스+값
데이터 프레임 클래스 2차원
    - 표와 같은 형태

In [2]:
import pandas as pd #판다스 라이브러리 불어오기

In [3]:
#시리즈생성
s1 = pd.Series([4, 7, -5, 3])#시리즈는 인덱스와 값을 함께 받아온다.
s1

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:

s2 = pd.Series([4, 7, -5, 3], index=["d","a","b","c"])#시리즈는 인덱스를 불어오는데 이 인덱스를 문자열로 바꿀수도 있다.
s2

d    4
a    7
b   -5
c    3
dtype: int64

In [5]:
s2["b"]

-5

In [6]:
s2.values#값만 받아올수있는 함수 배열로 불러옴./ 대괄호라서 배열

array([ 4,  7, -5,  3], dtype=int64)

In [7]:
s2.index#인덱스만 받아올수있는 함수 배열로 불러옴./ 대괄호라서 배열

Index(['d', 'a', 'b', 'c'], dtype='object')

In [8]:
s2.dtype

dtype('int64')

In [9]:
#각 도시의 2015년 인구 데이터를 시리즈로 만들어 보세요.
s3 = pd.Series([9904312,3448737, 2890451, 2466052], index=["서울","부산","인천","대구"])

print(s3)

print(s3.values)
print(s3.index)
print(s3.dtype)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
[9904312 3448737 2890451 2466052]
Index(['서울', '부산', '인천', '대구'], dtype='object')
int64

In [10]:
#시리즈에 이름 지정 , 인덱스에도 이름을 지정할 수 있다. 
s3.name = "인구"
s3.index.name = "도시"

In [11]:
s3/1000000 #시리즈도 사칙연산이 가능

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [12]:
print(s3[1], s3["부산"])
s3[3], s3["서울"]

3448737 3448737

(2466052, 9904312)

In [28]:
s2 = pd.Series([9999999,5555555,3333333,1111111], index=["서울","부산","인천","대전"])
print(s2)

s2[s2 > 5000000]

서울    9999999
부산    5555555
인천    3333333
대전    1111111
dtype: int64

서울    9999999
부산    5555555
dtype: int64

In [14]:
s2[s2 < 7000000]

부산    5555555
인천    3333333
대전    1111111
dtype: int64

In [15]:
#불리언이기 때문에 and or 등의 연산자를 쓰면 에러남
s2[s2>2000000 and s2<7000000]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
s2[(s2>2000000) & (s2<7000000)]# 각각의 조건에 소괄호를 쓰고 &로 연산하면 된다.
# or 연산자는 |이다.

부산    5555555
인천    3333333
dtype: int64

In [17]:
print(s2[1:3])
s2["부산":"대전"]#문자열로 :으로 구간을 설정하면 문자는 해당을 포함하는 조건

부산    5555555
인천    3333333
dtype: int64

부산    5555555
인천    3333333
대전    1111111
dtype: int64

In [31]:
data = {"서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158}
s = pd.Series(data)

print(s)

대전    1490158
부산    3393191
서울    9631482
인천    2632035
dtype: int64

In [32]:
ds = s - s2
ds

대전     379047
부산   -2162364
서울    -368517
인천    -701298
dtype: int64

In [20]:
ds.notnull()

대전    True
부산    True
서울    True
인천    True
dtype: bool

In [21]:
ds[ds.notnull()]

대전     379047
부산   -2162364
서울    -368517
인천    -701298
dtype: int64

In [33]:
ds.isnull()

대전    False
부산    False
서울    False
인천    False
dtype: bool

In [34]:
ds[ds.isnull()]

Series([], dtype: int64)

In [24]:
rs =(s -s2) /s2*100
rs[rs.notnull()]

대전    34.114233
부산   -38.922556
서울    -3.685170
인천   -21.038942
dtype: float64

In [25]:
rs["부산"]= 1.6
rs["대구"]= 1.41
del rs["서울"]
rs[rs.notnull()]

대전    34.114233
부산     1.600000
인천   -21.038942
대구     1.410000
dtype: float64